[submodule "CppCoreGuidelines"]
	path = CppCoreGuidelines
	url = https://github.com/isocpp/CppCoreGuidelines.git
[submodule "Cpp-Idioms"]
	path = Cpp-Idioms
	url = https://github.com/meshell/Cpp-Idioms.git
[submodule "ModernCppCI"]
	path = ModernCppCI
	url = https://github.com/LearningByExample/ModernCppCI.git
[submodule "CXX"]
	path = books
	url = C:/Users/Owner/Documents/ModernCXX/CXX
